# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import random
from tkinter import *
from tkinter import messagebox

# Creating Data

In [2]:
indian_states = ["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","National Capital Territory of Delhi","Puducherry"]
# Filling marks

#Number of records to generate
N = 1000
algebra_list = []
geometry_list = []
science_list = []
states_list = []
for i in range(0,N):
    algebra_list.append(random.randint(0,100))
    geometry_list.append(random.randint(0,100))
    science_list.append(random.randint(0,100))
    states_list.append(indian_states[random.randint(0,len(indian_states)-1)])
# total calculation
total_list = []
for i in range(0,N):
    total_list.append(algebra_list[i] + geometry_list[i] + science_list[i])

# Creating roll numbers 
roll_no_list = []
for i in range(0,N):
    roll_no_list.append(i+1)

dict1 = {'roll_no':roll_no_list,'state': states_list,'algebra':algebra_list, 'geometry':geometry_list, 'science':science_list,'total':total_list}

df = pd.DataFrame(dict1)

#Assigning pass and fail status to students
status_list = []
for i in range(0,N):
    data_row = df.iloc[i]
    if data_row['algebra'] < 35 or data_row['geometry'] < 35 or data_row['science'] < 35:
        status_list.append('Failed')
    else :
        status_list.append('Passed')


df['status'] = status_list

#Assigning Ranks to passed students
r_total_list = []
for i in range(0,N):
    if df.iloc[i].status == 'Passed':
         r_total_list.append(df.iloc[i].total)

sorted_total_list = sorted(r_total_list, reverse=True)
sorted_total_list
rank_dict = {}
for i in range(0,len(sorted_total_list)):
    rank_dict[sorted_total_list[i]] = i+1


final_rank_list = []
for i in range(0,N):
    to_match = df.iloc[i].total
    to_check = df.iloc[i].status
    if to_match in r_total_list:
        for m in rank_dict:
            if m == to_match:
                if to_check == 'Passed':
                    final_rank_list.append(rank_dict[m])
                else:
                    final_rank_list.append(0)
    else:
        final_rank_list.append(0)


df['Rank'] = final_rank_list

In [3]:
df.head()

   roll_no        state  algebra  geometry  science  total  status  Rank
0        1  Lakshadweep        6        20       16     42  Failed     0
1        2      Manipur        4        57       45    106  Failed     0
2        3      Tripura       67        69       65    201  Passed   143
3        4   Puducherry        2        18       35     55  Failed     0
4        5    Karnataka       42        45       96    183  Passed   203

In [4]:
df.shape

(1000, 8)

#  Function to check result

In [5]:
def check_result(roll_number):
    
    print(df.iloc[roll_number-1])
    
    algebra_marks = df.iloc[roll_number-1].algebra
    geometry_marks = df.iloc[roll_number-1].geometry
    science_marks = df.iloc[roll_number-1].science
    
    resp = ''
    if df.iloc[roll_number-1].status == 'Failed':
        resp = messagebox.askquestion(title = 'Re-evaluation', message='Do you want to reevaluate your marks?')
           
    else:
        messagebox.showinfo(message='Congratulations!!!')
    
    if resp == 'yes':
        reevaluation(roll_number, algebra_marks, geometry_marks, science_marks)
        updating_status(roll_number)
        updating_ranks(df)
        messagebox.showinfo(message='Your marks have been reevaluated!')
    else:
        messagebox.showinfo(message='All the best for Next year!!')

# Function for reevaluation

In [6]:
def reevaluation(a, algebra_marks, geometry_marks, science_marks):
    if algebra_marks < 35:
        #input('type a for reevaluating marks in algebra: ').lower()
        df.at[a-1, 'algebra'] = random.randint(0,100)
    if geometry_marks < 35 :
        #input('type g for reevaluating marks in geometry: ').lower()
        df.at[a-1, 'geometry'] = random.randint(0,100)
    if science_marks < 35:
        #input('type s for reevaluating marks in science: ').lower()
        df.at[a-1, 'science'] = random.randint(0,100)

# Function to update status

In [7]:
def updating_status(a):
    if df.iloc[a-1].algebra < 35 or df.iloc[a-1].geometry < 35 or df.iloc[a-1].science < 35:
        df.at[a-1, 'status'] = 'Failed'
    else :
        df.at[a-1, 'status'] = 'Passed'

# Function to update ranks

In [8]:
def updating_ranks(a):
    
    r_total_list = []
    for i in range(0,N):
        if a.iloc[i].status == 'Passed':
             r_total_list.append(a.iloc[i].total)
    
    sorted_total_list = sorted(r_total_list, reverse=True)
    
    rank_dict = {}
    for i in range(0,len(sorted_total_list)):
        rank_dict[sorted_total_list[i]] = i+1
    
    final_rank_list = []
    for i in range(0,N):
        to_match = a.iloc[i].total
        to_check = a.iloc[i].status
        if to_match in r_total_list:
            for m in rank_dict:
                if m == to_match:
                    if to_check == 'Passed':
                        final_rank_list.append(rank_dict[m])
                    else:
                        final_rank_list.append(0)
        else:
            final_rank_list.append(0)
    len(final_rank_list)
    a['Rank'] = final_rank_list

# Functions for teacher sections

In [9]:
new_df = (df[df['status'] == 'Passed'])

In [10]:
new_df.shape

(292, 8)

In [11]:
df_statewise = new_df.groupby(by='state')

In [12]:
def highest_rank():
    print(df_statewise['Rank'].min())
def highest_algebra():
    print(df_statewise['algebra'].max())
def highest_geometry():
    print(df_statewise['geometry'].max())
def highest_science():
    print(df_statewise['science'].max())  
def average_algebra():
    print(round(df_statewise['algebra'].mean(),2))
def average_geometry():
    print(round(df_statewise['geometry'].mean(),2))
def average_science():
    print(round(df_statewise['science'].mean(),2))

# Checking Result

In [13]:

window = Tk()
window.title('Exam Result Portal')
window.minsize(width = 300, height = 300)

def student_result_window():


    for widget in window.winfo_children():
        widget.destroy()

    def get_number():
        number = int(roll_no_entry.get())
        check_result(number)

    label2 = Label(text = 'Enter the roll number : ')
    label2.place(x = 50, y = 100)

    roll_no_entry = Entry(width = 10)
    roll_no_entry.focus()
    roll_no_entry.place(x=180, y=100)

    submit_button = Button(text = 'Submit',command=get_number)
    submit_button.place(x= 130, y=125)

def teacher_summary_window():
    for widget in window.winfo_children():
        widget.destroy()
    highest_ranks_button = Button(text = 'Highest', command = highest_rank )
    highest_ranks_button.place(x=150,y=50)
    highest_algebra_button = Button(text = 'Highest', command = highest_algebra )
    highest_algebra_button.place(x=100, y=100)
    highest_geometry_button = Button(text = 'Highest', command = highest_geometry )
    highest_geometry_button.place(x=100, y=150)
    highest_science_button = Button(text = 'Highest', command = highest_science )
    highest_science_button.place(x=100, y=200)
    
    
    average_algebra_button = Button(text = 'average', command = average_algebra )
    average_algebra_button.place(x=200, y=100)
    average_geometry_button = Button(text = 'average', command = average_geometry )
    average_geometry_button.place(x=200, y=150)
    average_science_button = Button(text = 'average', command = average_science)
    average_science_button.place(x=200, y=200)
    
    label_rank = Label(text='Rank')
    label_rank.place(x=20, y=50)
    label_algebra = Label(text='Algebra')
    label_algebra.place(x=20, y=100)
    label_geometry = Label(text='Geometry')
    label_geometry.place(x=20, y=150)
    label_science = Label(text='Science')
    label_science.place(x=20, y=200)
    
    
section_label = Label(text = 'Choose a section : ')
section_label.place(x=100,y=100)
student_button = Button(text = 'student', command = student_result_window)
student_button.place(x=100,y= 125)
teacher_button = Button(text = 'teacher', command = teacher_summary_window)
teacher_button.place(x=100,y=150)

window.mainloop()

roll_no         56
state        Assam
algebra         40
geometry        92
science         15
total          147
status      Failed
Rank             0
Name: 55, dtype: object
roll_no         56
state        Assam
algebra         40
geometry        92
science         73
total          147
status      Passed
Rank           277
Name: 55, dtype: object

# ---------------------------------------------------------------------------------------------------